div {
  padding: 25px;
}

.flex-container{
  display: flex;
  min-height: 300px
  width: 100%;
}

.flex-container div{
  border: 2px solid white;
}

.light-pink div{
  background-color: #f5c6d6;
}

.dark-pink div{
  background-color: #ee2e84;
  flex-grow: 1;
}

.blue div{
  background-color: #85cfd8;
}

.green{
  background-color: #8d3;
}

.orange{
  background-color: #e76e34;
}
